.App {
    text-align: center;
    align-items: flex-start;
    border-style:  solid;
    border-color: blueviolet;
    justify-content: space-between;
    min-height: calc(100vh - 18px);
    padding: 5px;
  }

.App header{
    border-style:  solid;
    border-color: blueviolet;
    height: 44px;
    border: 4px solid blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display:flex;
    list-style-type: none;
}

li {
    margin: 45px;
}
